<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/event/edit.css">
    <link rel="stylesheet" href="/css/partials/sidebar.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <script src="/js/partials/sidebar.js" defer></script>
    <script src="/js/event/edit.js" defer></script>
</head>
<body>
    <%- include('../partials/sidebar') %>
    <div class="homeContent">
        <div class="editEventContainer active edit">
            <div class="editEventCard">
                <h2>Editar evento</h2>
                <div class="formContainer">
                    <form action="/event/update" method="post">
                        <div class="formDelimiter">
                            <div class="selectMenuContainer">
                                <div class="selectBox">
                                    <div class="optionContainer">
                                        <% grades.forEach(element => { %>
                                            <% if (event.gradeId == element.id) { %>
                                                <input checked type="radio" class="radio" value="<%= element.id %>" id="<%= element.id %>" name="teacher">
                                                <label class="option" for="<%= element.id %>"><%= element.name %></label>
                                            <% } else { %>
                                                <input type="radio" class="radio" value="<%= element.id %>" id="<%= element.id %>" name="teacher">
                                                <label class="option" for="<%= element.id %>"><%= element.name %></label> 
                                            <% } %>
                                        <% }) %>
                                    </div>
                                    <div class="selected">
                                        <span class="sBtnText">
                                            <% grades.forEach(element => { %>
                                             <% if (event.gradeId == element.id) { %>
                                                <%= element.name %> 
                                             <% } %>
                                            <% }) %>
                                        </span>
                                        <i class='bx bx-chevron-down'></i>
                                    </div>
                                </div>
                            </div>
                           <div class="radioBtnContainer">
                                <div class="wrapper">
                                    <input <% if (event.week == 'seg') { %> <%= 'checked' %><% } %> type="radio" name="week" value="seg" id="option1">
                                    <label for="option1" class="option option1">
                                        <div class="dot"></div>
                                        <span>seg</span>
                                    </label>
                                    <input <% if (event.week == 'ter') { %> <%= 'checked' %><% } %> type="radio" name="week" value="ter" id="option2">
                                    <label for="option2" class="option option2">
                                        <div class="dot"></div>
                                        <span>ter</span>
                                    </label>
                                    <input <% if (event.week == 'qua') { %> <%= 'checked' %><% } %> type="radio" name="week" value="qua" id="option3">
                                    <label for="option3" class="option option3">
                                        <div class="dot"></div>
                                        <span>qua</span>
                                    </label>
                                    <input <% if (event.week == 'qui') { %> <%= 'checked' %><% } %> type="radio" name="week" value="qui" id="option4">
                                    <label for="option4" class="option option4">
                                        <div class="dot"></div>
                                        <span>qui</span>
                                    </label>
                                    <input <% if (event.week == 'sex') { %> <%= 'checked' %><% } %> type="radio" name="week" value="sex" id="option5">
                                    <label for="option5" class="option option5">
                                        <div class="dot"></div>
                                        <span>sex</span>
                                    </label>
                                    <input <% if (event.week == 'sab') { %> <%= 'checked' %><% } %> type="radio" name="week" value="sab" id="option6">
                                    <label for="option6" class="option option6">
                                        <div class="dot"></div>
                                        <span>sáb</span>
                                    </label>
                                    <input <% if (event.week == 'dom') { %> <%= 'checked' %><% } %> type="radio" name="week" value="dom" id="option7">
                                    <label for="option7" class="option option7">
                                        <div class="dot"></div>
                                        <span>dom</span>
                                    </label>
                                </div>
                            </div>
                            <label for="description" class="inputLabel">Descrição do evento:</label>
                            <input class="inputElement" type="text" id="description" value="<%= event.description %> " name="description">
                            <label for="star" class="inputLabel">Inicio:</label>
                            <input class="inputElement" type="time" id="start" value="<%= event.start %>" name="start">
                            <label for="end" class="inputLabel">Fim:</label>
                            <input class="inputElement" type="time" id="end" value="<%= event.end %>" name="end">
                            <input type="hidden" name="id" value="<%= event.id %> ">
                        </div>
                        <button class="btn" type="submit">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>